.noChecked {
    background-color: white;
    color: #666666;
}

.v-modal {
    height: 0 !important;
}

.el-dialog {
    min-width: 300px;
    transition: all 1s;
}


/*
右击弹出框
*/

.contentMenu {
    list-style: none;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 10px 1px #e0e0e0;
    position: fixed;
    z-index: 9999;
    transition: all 0.3s;
    padding: 10px 0;
}

.contentMenu_item {
    padding: 10px 15px;
    font-size: 13px;
    cursor: pointer;
}

.contentMenu_item:hover {
    background-color: rgb(221, 243, 255);
    color: rgb(81, 193, 253);
}

.right-click-box {
    list-style: none;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 10px 1px #e0e0e0;
    position: fixed;
    z-index: 100;
    transition: all 0.3s;
    padding: 10px 0;
}

.right-click-box_item {
    padding: 10px 15px;
    font-size: 13px;
    cursor: pointer;
}

.right-click-box_item:hover {
    background-color: rgb(221, 243, 255);
    color: rgb(81, 193, 253);
}